<html>
<head>
    <meta charset="utf-8">
    <script>
        function twmask() {
            navigator.geolocation.getCurrentPosition(function(pos){
              lat = pos.coords.latitude;
              lng = pos.coords.longitude;
              window.location.replace("/twmask?lat="+lat+"&lng="+lng+"&hits=12");
            });
        }
    </script>

</head>
<body onload="twmask()">
<input type="hidden" name="lat">
<input type="hidden" name="lng">
<center>
    <h1>武漢肺炎台灣口罩列表</h1>
    <h3>請用瀏灠器打開，並耐心等待資料更新</h3>
    <a href="https://github.com/oouyang/twmask">程式參考</a>
</center>
</body>
</html>